<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.okumura.android.simplecallconfirm2" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.okumura.android.simplecallconfirm2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.gmail.okumura.android.simplecallconfirm2.OutgoingCallsReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.gmail.okumura.android.simplecallconfirm2.widget.MainWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_wedget_provider" />
        </receiver>

        <receiver android:name="com.gmail.okumura.android.simplecallconfirm2.widget.MainWidgetUpdateReceiver" >
            <intent-filter>
                <action android:name="UPDATE_SIMPLE_CALL_CONFIRM_MAIN_WIDGET" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.gmail.okumura.android.simplecallconfirm2.ConfirmActivity"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.gmail.okumura.android.simplecallconfirm2.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.DeviceDefault">
        </activity>
    </application>

</manifest>
